<tr>
  <td><%= link_to athlete.name, athlete %></td>
  <td><%= @count_results.fetch(athlete.id, 0) %></td>
  <td class="hidden-on-phone"><%= @count_volunteering.fetch(athlete.id, 0) %></td>
  <td><%= human_result_time athlete.results.published.minimum(:total_time) %></td>
</tr>
