<tr>
  <td><%= link_to athlete.name, athlete_path(athlete) %></td>
  <td><%= @count_results[athlete.id] || 0 %></td>
  <td class="hidden-on-phone"><%= @count_volunteering[athlete.id] || 0 %></td>
  <td><%= human_result_time athlete.results.minimum(:total_time) %></td>
</tr>
