<tr>
  <td><%= link_to club.name, club %></td>
  <td><%= @count_athletes.fetch(club.id, 0) %></td>
  <td><%= @count_results.fetch(club.id, 0) %></td>
  <td><%= @count_volunteering.fetch(club.id, 0) %></td>
</tr>
