<% head_info :title, t('navbars.top.club_ratings') %>
<h2><%= t 'navbars.top.club_ratings' %></h2>

<p><%= t '.how_to_add_new_club_html', mail: 'info@s95.ru' %></p>

<table class="table table-striped">
  <thead data-controller="table-head">
    <tr>
      <td>Название</td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up-fill"></i></span> участники
      </td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span> результаты
      </td>
      <td class="hidden-on-phone">
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span> волонтёрства
      </td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'club', collection: @clubs %>
  </tbody>
</table>
