<h2>Клубы</h2>

<table class="table table-striped">
  <thead data-controller="table-head">
    <tr>
      <td>Название</td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up-fill"></i></span>
        Количество участников
      </td>
      <td>
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Количество результатов
      </td>
      <td class="hidden-on-phone">
        <span class="sort-arrow" data-action="click->table-head#toggleSort"><i class="bi bi-caret-up"></i></span>
        Количество волонтёрств
      </td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'club', collection: @clubs %>
  </tbody>
</table>
