<% athlete = volunteer.first %>
<tr>
  <td><%= volunteer_counter.next %></td>
  <td><%= link_to athlete.name, athlete, class: 'athlete-link' %></td>
  <td class="hidden-on-phone"><%= link_to athlete.club.name, athlete.club if athlete.club %></td>
  <td><%= volunteer.last %></td>
</tr>
