---
http_interactions:
- request:
    method: get
    uri: https://api.vk.com/method/photos.get?access_token=<VK_TOKEN>&album_id=300954831&owner_id=-220002708&v=5.130
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - qwujvW4oEKItuBN-1in5khEbSFjuKA
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":19,"items":[{"album_id":300954831,"date":1704903340,"id":457241085,"owner_id":-220002708,"sizes":[{"height":50,"type":"s","width":75,"url":"https:\/\/sun1-54.userapi.com\/impf\/9N6MFWQM-97OTWEjqdjPdK_897ZAUet6c4ySZg\/g207BGbKWLM.jpg?size=75x50&quality=95&sign=48c36bcd854abb5c0cbb9496fe7c0c0b&c_uniq_tag=m2AorjzSSmtwFFZN9apBbGmPhwJrJLdM1PklarIjLas&type=album"},{"height":86,"type":"m","width":130,"url":"https:\/\/sun1-54.userapi.com\/impf\/9N6MFWQM-97OTWEjqdjPdK_897ZAUet6c4ySZg\/g207BGbKWLM.jpg?size=130x86&quality=95&sign=bdaec4211c7c23d198b0e5300d73a9ec&c_uniq_tag=w4sdnJOXStGSaqE-RbrELWqnAQI9QL3BR2qjwtbryfU&type=album"},{"height":402[...]
