---
http_interactions:
- request:
    method: get
    uri: https://api.vk.ru/method/photos.get?access_token=<VK_TOKEN>&album_id=300954831&owner_id=-220002708&v=5.130
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Frontend:
      - front656608
      X-Trace-Id:
      - aTprjD0XTLbxS0i9oFd-kigyJF91lw
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"count":47,"items":[{"album_id":300954831,"date":1704903340,"id":457241085,"owner_id":-220002708,"sizes":[{"height":48,"type":"s","width":72,"url":"https:\/\/sun9-37.vkuserphoto.ru\/s\/v1\/if2\/haY3YQ7Ky_orUHtpeutL9J9kdtgBqB-lbJZd0h-ewaXG5cTNdWWod69k1w0GmUqgSaA9DogUM7gEaMiTEO7WeqKh.jpg?quality=95&as=32x21,48x32,72x48,108x72,160x106,240x160,360x239,480x319,540x359,640x426,720x479,1080x718,1280x851,1440x958,2500x1663&from=bu&cs=72x0"},{"height":106,"type":"m","width":160,"url":"https:\/\/sun9-37.vkuserphoto.ru\/s\/v1\/if2\/haY3YQ7Ky_orUHtpeutL9J9kdtgBqB-lbJZd0h-ewaXG5cTNdWWod69k1w0GmUqgSaA9DogUM7gEaMiTEO7WeqKh.jpg?quality=95&as=32x21,48x32,7[...]
