# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/.vscode
.byebug_history

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/public/assets
/vendor
!/vendor/.keep
!/vendor/javascript/.keep
/coverage
.reek.yml
/config/database.yml

# Ignore master key for decrypting credentials and more.
/config/master.key
/deploy
