# Ignore bundler config.
.bundle

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!log/.keep
!tmp/.keep
.vscode/
.byebug_history

# Ignore pidfiles, but keep the directory.
tmp/pids/*
!tmp/pids/.keep

node_modules/
public/assets/
public/sitemaps/
storage/
coverage/
spec/requests/requests.http

# Ignore master key for decrypting credentials and more.
config/master.key

config/additional_events.yml
public/app-release.apk
public/images/hero-bg.webp
deploy/*
!deploy/.env.example
!deploy/logrotate.example
!deploy/sidekiq.service.example
!deploy/puma.*.example
