version: '3.7'
services:
  web:
    build:
      context: .
    volumes:
      - .:/usr/src
      - ./deploy/.ssh:/root/.ssh
    tmpfs:
      - /usr/src/tmp/pids
      - /usr/src/tmp/cache
    tty: true
    stdin_open: true
    ports:
      - 3000:3000
    depends_on:
      - db
      - redis
    # command: bundle exec rdebug-ide --debug --host 0.0.0.0 --port 1234 -- bin/rails server -p 3000 -b 0.0.0.0
    env_file:
      - ./deploy/.env

  db:
    image: postgres:17.2-alpine
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./tmp:/tmp
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456

  redis:
    image: redis:alpine
    volumes:
      - redis:/data

volumes:
  postgres:
  redis:
