<%= link_to '&Uarr; UP'.html_safe, up_admin_activity_result_path(activity, result), remote: true, method: :put, data: { confirm: 'Поднять?' } %>
<span>-&starf;-</span>
<%= link_to 'DOWN &Darr;'.html_safe, down_admin_activity_result_path(activity, result), remote: true, method: :put, data: { confirm: 'Опустить?' } %>
