<h2>Награды</h2>
<p>
  Участвуйте в наших мероприятиях, выполняйте условия и получайте награды.
  Все значки отобразятся на странице вашего профиля. Постепенно их количество будет пополняться.
</p>
<p>
  Мы стараемся придумывать награды, чтобы поощрить как быстрых бегунов, так и обычных участников,
  которые регулярно посещают наши мероприятия.
</p>
<h3 class="my-3">Тематические</h3>
<div class="row row-cols-1 row-cols-xl-2 g-4">
  <%= render @funrun_badges %>
</div>
<h3 class="my-3">Достижения</h3>
<div class="row row-cols-1 row-cols-xl-2 g-4">
  <%= render @not_funrun_badges %>
</div>
