<h2>Медальки</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @badges.each do |badge| %>
    <div class="col">
      <div class="card mb-3 border-primary">
        <div class="row g-0">
          <div class="col-md-4 p-3 d-flex justify-content-center">
            <%= image_tag badge.picture_link, class: 'rounded-start img-fluid' %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= badge.name %></h5>
              <p class="card-text"><%= badge.conditions %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
