<%= turbo_frame_tag field do %>
  <div class="d-flex align-items-center">
    <span class="me-auto"><%= current_user.public_send(field) %></span>
    <%= link_to edit_user_path(field:), class: 'btn btn-outline-secondary', title: 'Изменить' do %>
      <i class="fa-solid fa-pen-to-square text-primary"></i>
    <% end %>
  </div>
<% end %>
