<% head_info :title, t('.title') %>
<% head_info :description, t('.description', user_name: current_user.full_name) %>
<h2><%= t '.title' %></h2>

<% UsersController::PERMITTED_PARAMS.each do |field| %>
  <div class="row align-items-center mb-3">
    <div class="col-4 col-lg-2 text-capitalize fw-bold">
      <%= t("activerecord.attributes.user.#{field}") %>
    </div>
    <div class="col-8 col-lg-4">
      <%= render 'field', field: field %>
    </div>
  </div>
<% end %>
