<h2>Результаты поиска</h2>
<% if @athletes.size.positive? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Имя</td>
        <td>Клуб</td>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @athletes.each do |athlete| %>
        <tr>
          <td><%= link_to athlete.name, athlete %></td>
          <td><%= athlete.club&.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Всего найдено <%= @athletes.size %> уч.
<% else %>
  <p>К сожалению, ничего не найдено.</p>
<% end %>
