<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Время</th>
      <th>Имя</th>
      <th>Дата</th>
      <th class="hidden-on-phone"><div class="d-block d-sm-none">Поз.</div><div class="d-none d-sm-block">Место</div></th>
      <th class="hidden-on-phone">Клуб</th>
      <th class="hidden-on-phone">Мероприятие</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'result', collection: results, cached: true %>
  </tbody>
</table>
