<div class="col">
  <div class="card border-primary border-opacity-25 shadow h-100">
    <div class="card-header mt-0">
      <section class="fs-5 card-title mb-0"><%= header %></section>
    </div>
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>
