<%= turbo_frame_tag "role-#{idx}" do %>
  <% if local_assigns[:show_role] %>
    <span class="fw-medium"><%= human_volunteer_role role %></span>
  <% end %>
  <% if volunteer&.comment && %w[marshal pacemaker other].include?(role) %>
    <span class="text-muted small">(<%= volunteer.comment %>)</span>
  <% end %>
<% end %>
