.position {
  color: $primary !important;
  @extend .fs-3;
}

.athlete-link {
  text-decoration: none;
  font-weight: 800;
}

@media (max-width: 576px) {
  .athlete-details {
    font-size: small;
  }
}
