.position {
  @extend .fs-3, .pe-0, .pe-sm-2;

  color: $primary !important;
}

.athlete-link {
  text-decoration: none;
  font-weight: 800;
}

@include media(phoneScreen) {
  .athlete-details {
    font-size: small;
  }
}
