.acc-li-s {
  min-width: 150px;
}

@media (min-width: 768px) {
  .acc-li-s {
    min-width: 200px;
    margin-left: 2vw;
  }
}

.avatar {
  @extend .rounded-circle;
  @extend .border;
  @extend .border-primary;
  @extend .border-opacity-25;
  width: 150px;
}
