.img-badge {
  max-width: 100%;
  max-height: 150px;
  object-fit: scale-down;
}

.thumb-badge {
  @extend .rounded;

  height: 80px;
}

.text-badge {
  @extend .d-flex, .flex-column, .align-items-center, .justify-content-center, .bg-gradient, .border, .border-4, .rounded-circle, .text-light;

  background-color: #be2270;
  width: 80px;
  height: 80px;
}

.trophy {
  max-width: 100px;
}

.trophy-container .active {
  position: relative;
  filter: drop-shadow(0 0 2px rgb(190 34 112 / 35%))
          drop-shadow(0 0 5px rgb(190 34 112 / 25%))
          drop-shadow(0 0 8px rgb(190 34 112 / 15%));
  animation: glowing-pulse 2.5s ease-in-out infinite;
}

@keyframes glowing-pulse {
  0%, 100% {
    filter: drop-shadow(0 0 2px rgb(190 34 112 / 30%))
            drop-shadow(0 0 4px rgb(190 34 112 / 20%))
            drop-shadow(0 0 6px rgb(190 34 112 / 10%));
  }
  50% {
    filter: drop-shadow(0 0 4px rgb(190 34 112 / 45%))
            drop-shadow(0 0 8px rgb(190 34 112 / 35%))
            drop-shadow(0 0 12px rgb(190 34 112 / 25%))
            drop-shadow(0 0 16px rgb(190 34 112 / 15%));
  }
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{calc($size / 2)});
  top: calc(50% - #{calc($size / 2)});
  width: $size;
  height: $size;
}

.progress-pie-badge {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-color: $light;
  position: relative;

  &.ppb-gt-50 {
    background-color: $info;
  }
}

.ppb-progress {
  @include circle(92px);

  clip-path: inset(0 0 0 50%);

  .ppb-progress-fill {
    @include circle(92px);

    clip-path: inset(0 50% 0 0);
    background: $info;
  }

  .ppb-gt-50 & {
    clip-path: inset(0 50% 0 0);

    .ppb-progress-fill {
      clip-path: inset(0 0 0 50%);
      background: $light;
    }
  }
}
.ppb-info {
  @include circle(80px);

  background: #fff;
  text-align: center;
  display: table;

  span {
    display: block;
    font-size: 10px;
    font-weight: bold;
    color: $primary;
  }
}
.ppb-info-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#minute-bingo-modal table {
  border-collapse: separate;
  border-spacing: 4px 0;
}

@include media(phoneScreen) {
  .progress-pie-badge {
    width: 70px;
    height: 70px;
  }
  .ppb-progress {
    @include circle(70px);

    clip-path: inset(0 0 0 50%);

    .ppb-progress-fill {
      @include circle(70px);

      clip-path: inset(0 50% 0 0);
    }

    .ppb-gt-50 & {
      clip-path: inset(0 50% 0 0);
      .ppb-progress-fill {
        clip-path: inset(0 0 0 50%);
      }
    }
  }
  .ppb-info {
    @include circle(60px);
    span {
      font-size: 9px;
    }
  }
  .trophy {
    max-width: 75px;
  }
  #accordion-personal-statistics .accordion-body {
    padding: 10px 7px;
  }
}
