.img-badge {
  max-width: 100%;
  max-height: 200px;
  object-fit: scale-down;
}

.trophy {
  max-width: 100px;
}

@include media(phoneScreen) {
  .trophy {
    max-width: 75px;
  }
  #accordionPersonalBest .accordion-body {
    padding: 10px 7px;
  }
}
