.img-event-container {
  @extend .mb-3, .mt-n3, .mt-sm-0, .position-relative;

  margin-left: -12px;
  margin-right: -12px;

  @media (width >= 576px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.img-event {
  @extend .img-fluid, .rounded, .w-100;

  object-fit: fill;

  @media (width <= 575px) {
    border-radius: 0 !important;
  }
}

.img-event-shadow {
  @extend .bg-dark, .bg-gradient, .bg-opacity-25, .rounded-top, .w-100;

  @media (width <= 575px) {
    border-radius: 0 !important;
  }
}
