<% head_info :title, t('.title') %>
<% head_info :description, t('.description') %>
<h4><%= t '.title' %></h4>
<p><%= t '.description' %></p>
<%= render partial: 'ratings_table', locals: { collection: @athletes } %>
