<% if current_user&.athlete && current_user.athlete != athlete %>
  <div id="friendship-button">
    <% if current_user.athlete.friend?(athlete) %>
      <div class="badge bg-success mb-2">
        <%= t '.your_friend' %>
      </div>
    <% else %>
      <%=
        button_to(
          friendships_path(friend_id: athlete),
          class: 'btn btn-sm btn-outline-primary',
          form_class: 'd-inline-block',
          data: { turbo: true }
        ) do
      %>
        <i class="fa-solid fa-user-plus"></i>
        <%= t '.add_friend' %>
      <% end %>
    <% end %>
  </div>
<% end %>
