<div class="list-group-item d-flex justify-content-between align-items-center pe-1 pe-sm-3">
  <div class="d-flex align-items-center gap-2">
    <%= image_tag user_image_path(friend.user), class: 'avatar-50', alt: friend.name %>
    <div>
      <%= link_to friend.name, athlete_path(friend), class: 'text-decoration-none me-2', data: { turbo: false } %>
      <% if friend.going_to_event? %>
        <span class="badge bg-success">
          <%= t '.going_to', event: friend.going_to_event.name %>
        </span>
      <% end %>
    </div>
  </div>
  <% if current_user&.athlete == @athlete && local_assigns[:is_friends_tab] %>
    <% if (friendship_id = @friendships_hash[friend.id]) %>
      <%=
        button_to(
          friendship_path(friendship_id, viewed_athlete_id: @athlete.id),
          method: :delete,
          class: 'btn btn-sm btn-outline-danger',
          form_class: 'd-inline-block',
          data: { turbo: true, turbo_confirm: t('.confirm_unfriend') },
        ) do
      %>
        <i class="fa-solid fa-user-minus"></i>
      <% end %>
    <% end %>
  <% end %>
</div>
