<% head_info :title, '5 за 5 - субботние забеги на 5 километров для учащихся' %>
<% head_info :description, 'Каждую субботу в парках, где проходит активность, участник акции совместно с одним из родителей или родителями (законными представителями) стартует со всеми участниками забега С95 в 9:00 и пробегает (или проходит) 5 километров.' %>
<% head_info :og_image, '/images/5za5.webp' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-6">
      <h1 class="text-center mb-4">5 за 5</h1>

      <div class="mb-4">
        <%= image_tag "/images/5za5.webp", alt: "5 за 5", class: "img-fluid rounded shadow" %>
      </div>

      <section class="mb-4">
        <h2 class="h3 mb-3">Цели и задачи активности</h2>
        <ul class="list-unstyled">
          <li class="mb-2">• Пропаганда здорового образа жизни и физической активности среди учащихся и их родителей</li>
          <li class="mb-2">• Мотивация детского населения Москвы к занятиям физической культурой и спортом</li>
          <li class="mb-2">• Популяризация лёгкой атлетики</li>
        </ul>
      </section>

      <section class="mb-4">
        <h2 class="h3 mb-3">Сроки проведения</h2>
        <p class="mb-2">Все субботы апреля 2025 года:</p>
        <ul class="list-unstyled">
          <li class="mb-1">• 5 апреля</li>
          <li class="mb-1">• 12 апреля</li>
          <li class="mb-1">• 19 апреля</li>
          <li class="mb-1">• 26 апреля</li>
        </ul>
      </section>

      <section class="mb-4">
        <h2 class="h3 mb-3">Локации</h2>
        <ul class="list-unstyled">
          <li class="mb-2">
            <%= link_to 'Троицк', '/events/troitsk' %>
          </li>
          <li class="mb-2">
            <%= link_to 'Олимпийская Деревня', '/events/olimpiyskaya_derevnya' %>
          </li>
        </ul>
      </section>

      <section class="mb-4">
        <h2 class="h3 mb-3">Участники</h2>
        <p>В акции добровольно принимают участие обучающиеся в общеобразовательных школах Москвы всех возрастов независимо от пола.</p>
      </section>

      <section class="mb-4">
        <h2 class="h3 mb-3">Порядок допуска к участию</h2>
        <p>К участию в акции "5 за 5" допускаются все желающие учащиеся общеобразовательных учреждений с одним родителем или родителями (законные представители), на основании медицинской справки с допуском врача.</p>
      </section>

      <section class="mb-4">
        <h2 class="h3 mb-3">Программа проведения акции</h2>
        <p>Каждую субботу в парках, где проходит активность, участник акции совместно с одним из родителей или родителями (законными представителями) стартует со всеми участниками забега С95 в 9:00 и пробегает (или проходит) 5 километров. После получает свидетельство о прохождении дистанции от организатора и предаёт его учителю физкультуры своего учебного заведения. Учитель ставит оценку 5 по предмету "Физическая культура".</p>
      </section>

      <section class="mb-4">
        <h2 class="h3 mb-3">Рекомендации участникам и их родителям</h2>
        <ul class="list-unstyled">
          <li class="mb-2">
            • Регистрация на платформе С95. Сделать это можно через бота:
            <%= link_to '@sat9am5kmbot', 'https://t.me/sat9am5kmbot', target: '_blank' %>
          </li>
          <li class="mb-2">• Быть на месте старта в 8:45 для разминки и брифинга</li>
          <li class="mb-2">• Иметь с собой комплект сменной одежды</li>
        </ul>
      </section>
    </div>
  </div>
</div>
