<% head_info :title, 'О нас' %>
<% head_info :description, 'S95 - система, объединяющая независимые парковые забеги, которые проводятся по основным постулатам приостановленного в России паркрана (суббота, 9 утра, 5 км)' %>
<% head_info :keywords, 'Sat9am5km,s95,parkrun,паркран,суббота,утро,бег,Кузьминки,Измайлово,Царицыно,Олимпийская деревня,Ангарские пруды,Кусково' %>
<h2>О нас</h2>

<p>
  S95 - система, объединяющая независимые парковые забеги, которые проводятся по основным постулатам приостановленного
  в России паркрана (суббота, 9 утра, 5 км).
</p>

<h4>Хотите присоединиться к s95?</h4>
<p>
  Сейчас в системе отображаются результаты шести локаций: Кузьминки, Измайлово, Олимпийская Деревня и Царицыно,
  Ангарские Пруды, Кусково, а также тематические забеги, как это было в парке Никола-Ленивец на фестивале SMF.
  Если вы тоже хотите присоединиться, пишите нам на
  <a href="mailto:info@s95.ru" target="_blank" title="Отправить нам email">e-mail</a>,
  либо задавайте вопросы в <a href="https://t.me/sat9am5km" title="Наш чат в телеграме">телеграм-чате</a>.
</p>

<div class="row justify-content-sm-center">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <div id="carouselControls" class="carousel slide my-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% VkPhotos.call(7).each_with_index do |photo, i| %>
          <div class="carousel-item <%= 'active' if i.zero? %>">
            <img src="<%= photo %>" class="d-block w-100" alt="Кузьминки">
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Назад</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Вперёд</span>
      </button>
    </div>
  </div>
</div>
