<h1>О нас</h1>

<p>
  S95 - система, объединяющая независимые парковые забеги, которые проводятся по основным постулатам приостановленного
  в России паркрана (суббота, 9 утра, 5 км).
</p>

<h4>Хотите присоединиться к s95?</h4>
<p>
  Сейчас в системе отображаются результаты четырёх локаций: Кузьминки, Измайлово, Олимпийская Деревня и Царицыно.
  А также тематические забеги, как это было в парке Никола-Ленивец на фестивале SMF.
  Если вы хотите присоединиться к нашей системе, то пишите
  <a href="https://vk.com/im?sel=-212432495">администраторам нашей группы вконтакте</a>
  либо задавайте вопросы в <a href="https://t.me/sat9am5km">телеграм-чате</a>.
</p>

<hr>
<p class="text-muted">
  Нужно дополнить. Примите участие в редактировании сайта. Ссылка на исходный файл:
  <a href="https://github.com/vol1ura/Sat_9am_5km/blob/master/app/views/pages/about.html.erb" target="_blank">GitHub</a>.
</p>
