<% head_info :title, t('.title') %>
<% head_info :description, t('.description') %>
<h1>Дополнительные старты 1&nbsp;января&nbsp;2024&nbsp;года</h1>
<div class="row">
  <div class="col-md-6 offset-md-2">
    <table class="table">
      <thead>
        <tr>
          <td>Мероприятие</td>
          <td>Время</td>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td><%= link_to 'Кузьминки', event_path('kuzminki') %></td>
          <td>10:00</td>
        </tr>
        <tr>
          <td><%= link_to 'Ангарские пруды', event_path('angarskie_prudy') %></td>
          <td>10:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
