<%= render '/flash' %>
<h2>Наши мероприятия</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <% Event.all.each do |event| %>
    <div class="col">
      <div class="card border-primary h-100">
        <%= event_main_image_tag event, class: 'card-img-top', alt: event.name %>
        <div class="position-absolute top-0 bg-dark bg-gradient bg-opacity-25 w-100 px-3">
          <h4 class="text-light"><%= event.name %></h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= link_to event.slogan, event_path(event.code_name), class: 'stretched-link text-decoration-none text-body' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h2 class="mt-4">Карта мероприятий</h2>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7dd41fb23b2418677e393b2296254119a536fd6b4efb6ee3116b38cb6af3055a&amp;width=100%25&amp;height=451&amp;lang=ru_RU&amp;scroll=true"></script>
