<%= render '/flash' %>
<h2>Наши мероприятия</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <%= render partial: 'event', collection: Event.all, cached: true %>
</div>

<h2 class="mt-4">Наши партнёры</h2>
<div class="d-flex">
  <%= link_to 'https://t.me/parkrun' do %>
    <% image_tag 'partners/pro_parkrun.svg', class: 'img-partner' %>
  <% end %>
</div>
