<h1>Хотите присоединиться к s95?</h1>
<p>
Сейчас в системе отображаются результаты трёх локаций: Кузьминки, Измайлово и Олимпийская Деревня.
А также тематические забеги, как это было в парке Никола-Ленивец на фестивале SMF.
Если вы хотите присоединиться к нашей системе, то пишите
<a href="https://vk.com/im?sel=-212432495">администраторам нашей группы вконтакте</a>
либо задавайте вопросы в <a href="https://t.me/sat9am5km">телеграм-чате</a>.
</p>
