<% head_info :description, 'Политика обработки персональных данных участников мероприятий Sat9am5km' %>
<h2><%= head_info :title, 'Политика обработки персональных данных' %></h2>
<p>
Обрабатываются следующие персональные данные Пользователя
</p>

<p>
* Фамилия, имя.
</p>

<p>
* Электронный адрес.
</p>

<p>
* Пол.
</p>

<p>
* Цифровой ID Пользователя в системах parkrun, 5verst и пр.
</p>

<p>
Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и других).
</p>

<p>
Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
</p>

<p>
Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, интимной жизни не осуществляется.
</p>

<p>
Обработка персональных данных, разрешенных для распространения, из числа специальных категорий персональных данных, указанных в ч. 1 ст. 10 Закона о персональных данных, допускается, если соблюдаются запреты и условия, предусмотренные ст. 10.1 Закона о персональных данных.
</p>

<p>
Согласие Пользователя на обработку персональных данных, разрешенных для распространения, оформляется отдельно от других согласий на обработку его персональных данных. При этом соблюдаются условия, предусмотренные, в частности, ст. 10.1 Закона о персональных данных. Требования к содержанию такого согласия устанавливаются уполномоченным органом по защите прав субъектов персональных данных.
</p>

<p>
Согласие на обработку персональных данных, разрешенных для распространения, Пользователь предоставляет непосредственно.<p>
</p>

<p>
Обработка персональных данных осуществляется на законной и справедливой основе.
</p>

<p>
Персональные данные Пользователя обрабатываются только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://s95.ru или направленные посредством электронной почты или telegram бота. Заполняя соответствующие формы и/или отправляя свои персональные данные Пользователь выражает свое согласие с данной Политикой.
</p>
