<h1>Правила</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    Получите штрихкод. Вы можете зарегистрироваться на сайте <a href="https://5verst.ru/register/" target="_blank">5 вёрст</a>,
    либо на <a href="https://www.parkrun.com.au/register/" target="_blank">сайте паркрана</a> (например, на австралийской версии,
    поскольку паркран заблокировал Россию и российскую версию сайта).
  </li>
  <li class="list-group-item">
    Сохраните полученный штрихкод в телефоне или распечатайте на карточке.
  </li>
  <li class="list-group-item">
    Самое главное. Приходите в <strong>субботу</strong> в <strong>9 утра</strong> на одно из мероприятий и пробегите <strong>5 км</strong>.
  </li>
  <li class="list-group-item">
    На финише вам дадут карточку позиции. Отсканируйте свой штрихкод и карточку позиции у волонтёра.
  </li>
  <li class="list-group-item">
    Сдайте карточку позиции.
  </li>
</ul>
