<% head_info :title, 'Правила' %>
<h2>Правила</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    Если вы не зарегистрированы, создайте профиль с помощью
    <%= link_to 'Телеграм-бота', 'https://t.me/sat9am5kmbot', target: '_blank', rel: 'noopener' %>.
    Вы получите ссылку на ваш профиль с персональным штрих-кодом.
  </li>
  <li class="list-group-item">
    Самое главное - приходите в <strong>субботу</strong> в <strong>9 утра</strong> на одно из мероприятий и пробегите <strong>5 км</strong>.
  </li>
  <li class="list-group-item">
    На финише вам дадут карточку позиции. Отсканируйте персональный штрихкод и карточку позиции у волонтёра.
  </li>
  <li class="list-group-item">
    Сдайте карточку позиции.
  </li>
</ul>

<h2 class="mt-3">Часто задаваемые вопросы</h2>
<div class="accordion accordion-flush" id="accordionFAQ">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading1">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
        Какие-то направления движения, указатели будут на маршруте?
      </button>
    </h2>
    <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFAQ">
      <div class="accordion-body">
        Трасса хорошо размечена оранжевыми конусами, на развороте (если он есть) стоит маршал, да и бежать, скорее всего, вы будете в окружении других участников.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
        Нужно ли регистрироваться для участия в забеге?
      </button>
    </h2>
    <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFAQ">
      <div class="accordion-body">
        Крайне желательно пройти процедуру регистрации с помощью нашего телеграм бота <a href="https://t.me/sat9am5kmbot" target="_blank" rel="noopener">@sat9am5kmbot</a>.
        В результате у вас будет персональный штрихкод, который вы в последствии будете показывать волонтёру. Кроме этого, бот будет присылать оповещения с результатами забега.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
        Можно ли просто прийти к 8:45, чтобы побегать вместе?
      </button>
    </h2>
    <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFAQ">
      <div class="accordion-body">
        Да, можно просто прийти и побегать. Регистрация нужна, чтобы у вас был результат в протоколе. Один раз регистрируетесь и можете приходить на любую пробежку.
        Если не зарегистрируетесь - будете в протоколе как "Неизвестный". На месте вам помогут и зарегистрироваться, и получить удовольствие от пяти километров в хорошей компании.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
        Могу ли я использовать штрихкод паркрана (5 вёрст, РанПарка)?
      </button>
    </h2>
    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFAQ">
      <div class="accordion-body">
        Да, можете прийти на забег с штрихкодом другой системы. Однако ваш результат будет учтён только в системе S95.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
        Где можно будет оставить оставить свои вещи на время забега?
      </button>
    </h2>
    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFAQ">
      <div class="accordion-body">
        На каждой субботней пробежке есть волонтёры, вещи можно оставить под их присмотром на лавочках.
      </div>
    </div>
  </div>
</div>
