<h1>Поддержать проект</h1>
<p>Друзья, наши мероприятия абсолютно бесплатны и проводятся силами волонтёров.</p>
<p>Однако если вы хотите и можете поддержать наш проект, то мы будем рады любой материальной помощи.
Подробности смотрите в исходном посте в нашем телеграм-канале: <a href="https://t.me/sat9am5km/2686">https://t.me/sat9am5km/2686</a>.</p>

<p>Но не забывайте, что самая большая помощь - это волонтёрство. А ещё мы благодарим всех, кто уже делал пожертвования 🧡🧡🧡</p>

<p>С любовью, sat9am5km.</p>
