<h1>Поддержать проект</h1>
<p>Друзья, наши мероприятия абсолютно бесплатны и проводятся силами волонтёров.</p>
<p>
  Однако если вы хотите и можете поддержать наш проект, то мы будем рады любой материальной помощи.
  Подробности смотрите в исходном посте в нашем телеграм-канале: <a href="https://t.me/sat9am5km/2686">https://t.me/sat9am5km/2686</a>.
</p>

<p>Но не забывайте, что самая большая помощь - это волонтёрство. А ещё мы благодарим всех, кто уже делал пожертвования 🧡🧡🧡</p>

<p>С любовью, sat9am5km.</p>

<h4>Развитие сайта</h4>
<p>
  У вас есть идеи как сделать данный сайт лучше? Предлагайте свои идеи и пишите замечания в <a href="https://github.com/vol1ura/Sat_9am_5km/issues">Issues</a> на GitHub.
  Для этого зарегистрируйтесь на <a href="https://github.com/">GitHub</a>, поставьте звезду нашему проекту и создайте New Issue, где опишите то, что хотите.</p>
<p>Хотите сами вносить изменения? Нет проблем - склонируйте репозиторий себе, создайте и запушьте ветку с вашими правками и затем откройте Pull request.</p>
<p>Небольшие изменения можно делать непосредственно в браузере в визуальном редакторе GitHub'а!</p>
