<% head_info :title, 'Поддержка' %>
<h4>Хотите поддержать проект?</h4>
<p>
  Друзья, наши мероприятия абсолютно бесплатны и проводятся силами волонтёров.
  Однако если вы хотите и можете поддержать наш проект, то мы будем рады любой материальной помощи.
  Для этого свяжитесь с организаторами мероприятия, которому вы хотите оказать поддержку, через контакты на страничке мероприятия.
</p>
<p>Но не забывайте, что самая большая помощь - это волонтёрство.</p>

<h4>Развитие сайта</h4>
<p>
  У вас есть идеи как сделать данный сайт лучше?
  Код системы открыт на <a href="https://github.com/vol1ura/Sat_9am_5km" target="_blank" rel="noopener">GitHub</a>.
  Предлагайте свои идеи и пишите замечания
  в <a href="https://github.com/vol1ura/Sat_9am_5km/issues" target="_blank" rel="noopener">Issues</a> на GitHub.
  Для этого зарегистрируйтесь на <a href="https://github.com/" target="_blank" rel="noopener">GitHub</a>, поставьте звезду нашему проекту
  и создайте New Issue, где опишите то, что хотите.
</p>
<p>Хотите сами вносить изменения? Нет проблем - склонируйте репозиторий себе, создайте и запушьте ветку с вашими правками и затем откройте Pull request.</p>
<p>Небольшие изменения можно делать непосредственно в браузере в визуальном редакторе GitHub'а!</p>

<p>С любовью, Sat9am5km.</p>
