<h1>Правила</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Получите штрихкод</li>
  <li class="list-group-item">Сохраните его в телефоне или распечатайте на карточке</li>
</ul>
