<nav class="navbar sticky-bottom bg-light bd-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Sat9am5km">
          <span class="fs-5">Парковые забеги S95</span>
        </a>
      </div>
      <div class="col-12 col-md-6 footer-text">
        <p class="fw-light">
          Сделано бегунами для бегунов. Код системы открыт на <a href="https://github.com/vol1ura/Sat_9am_5km" target="_blank" rel="license noopener">GitHub</a>
          по лицензии <a href="https://github.com/vol1ura/Sat_9am_5km/blob/master/LICENSE" target="_blank" rel="license noopener">GPL-3.0</a>.
          Вы также можете присоединиться к разработке и редактированию контента. Это легко, коммиты приветствуются!
        </p>
      </div>
      <div class="col-6 col-md-3 social-links mt-1">
        <div class="btn-group float-end" role="group" aria-label="Basic example">
          <a class="btn btn-outline-secondary" href="https://t.me/sat9am5km" target="_blank" rel="license noopener">
            <i class="bi bi-telegram"></i>
          </a>
          <a class="btn btn-outline-secondary" href="#" target="_blank" rel="license noopener">
            <i class="bi bi-instagram"></i>
          </a>
          <a class="btn btn-outline-secondary" href="https://github.com/vol1ura/Sat_9am_5km" target="_blank" rel="license noopener">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
