<nav class="navbar bg-light bd-footer mt-4">
  <div class="container">
    <div class="row pt-2">
      <div class="col-7 col-md-3 pt-2">
        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Sat9am5km">
          <span class="fs-5">Парковые забеги S95</span>
        </a>
      </div>
      <div class="col-12 col-md-6 footer-text">
        <p class="fw-light">
          Система независимых парковых забегов. Сделана бегунами для бегунов.
          Вы также можете <%= link_to 'присоединиться', page_path(page: :about) %> к нашим забегам, к разработке или редактированию контента.
        </p>
      </div>
      <div class="col-5 col-md-3 social-links mt-1">
        <div class="btn-group float-end" role="group" aria-label="Basic example">
          <a class="btn btn-outline-secondary" href="https://t.me/sat9am5km" target="_blank" rel="license noopener">
            <i class="bi bi-telegram"></i>
          </a>
          <a class="btn btn-outline-secondary" href="https://vk.com/sat9am5km" target="_blank" rel="license noopener">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vk" viewBox="0 0 30 30">
              <path d="M.005 1.527c-.219-1.336 6.241-.509 6.241-.509s3.75 9.417 5.228 9.417c1.478 0 .766-7.985.766-7.985s-1.833-.478-1.833-1.21C10.407.51 12.24 0 12.24 0h5.393c.646 0 .903 1.05.903 1.75v8.558h1.478s1.316-2.115 2.354-4.263c1.038-2.149 2.3-5.027 2.3-5.027h6.267s1.15.032 1.013.986c-.186 1.299-4.356 7.466-5.228 9.576-.657 1.59 2.76 3.744 4.215 6.045.945 1.493 1.013 3.245 1.013 3.245h-7.445l-3.723-4.327s-.766-.318-1.368.127c-.603.446-.63 1.337-.63 1.337v2.863h-5.83s-4.461-1.527-8.239-8.208C.936 5.982.224 2.863.005 1.527z" />
            </svg>
          </a>
          <a class="btn btn-outline-secondary" href="https://github.com/vol1ura/Sat_9am_5km" target="_blank" rel="license noopener">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
