---
http_interactions:
- request:
    method: get
    uri: https://parkzhrun.ru/wp-json/api/v1/results/2023-01-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PARKZHRUN_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://parkzhrun.ru/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"results":[{"total_time":"00:19:00","position":1,"athlete_id":7034862},{"total_time":"00:22:10","position":2,"athlete_id":2828687},{"total_time":"00:22:28","position":3,"athlete_id":6904484},{"total_time":"00:22:32","position":4,"athlete_id":7049928},{"total_time":"00:25:00","position":5,"athlete_id":690000205},{"total_time":"00:25:46","position":6,"athlete_id":690000125},{"total_time":"00:25:50","position":7,"athlete_id":6894046},{"total_time":"00:25:51","position":8,"athlete_id":6907938},{"total_time":"00:27:36","position":9,"athlete_id":4998877},{"total_time":"00:27:37","position":10,"athlete_id":4051587},{"total_time":"00:29:13","position":11,"athlete_id":6971392},{"total_time":"00:30:57","position":12,"athlete_id":690000135},{"total_time":"00:35:05","position":13,"athlete_id":7150035},{"total_time":"00:35:12","position":14,"athlete_id":7019592},{"total_time":"00:35:21","position":15,"athlete_id":690000216},{"total_time":"00:35:23","position":16,"athlete_id":6977888},{"total_time":"00:35:41","position":17,"athlete_id":7020325}]}'
  recorded_at: Fri, 15 Sep 2023 06:22:29 GMT
- request:
    method: get
    uri: https://parkzhrun.ru/wp-json/api/v1/athlete/7034862
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PARKZHRUN_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://parkzhrun.ru/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"athlete":{"first_name":"\u041c\u0438\u0445\u0430\u0438\u043b","last_name":"\u0420\u0443\u0441\u0430\u043a\u043e\u0432","patronymic":"\u0410\u043b\u0435\u043a\u0441\u0430\u043d\u0434\u0440\u043e\u0432\u0438\u0447","date_of_birth":"1985-08-12","gender":"male","city":"\u0422\u0432\u0435\u0440\u044c","club":"TverRunLab","parkrun_id":7034862,"parkzhrun_id":690000211,"five_verst_id":790103754,"s95_id":null,"krymrun_id":null,"runpark_id":null}}'
  recorded_at: Fri, 15 Sep 2023 06:22:30 GMT
[...]
- request:
    method: get
    uri: https://parkzhrun.ru/wp-json/api/v1/volunteers/2023-01-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PARKZHRUN_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://parkzhrun.ru/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"volunteers":[{"volunteer_id":6853735,"role_id":0},{"volunteer_id":790103754,"role_id":16},{"volunteer_id":6853392,"role_id":2},{"volunteer_id":7010148,"role_id":4},{"volunteer_id":6917607,"role_id":5},{"volunteer_id":7337470,"role_id":1},{"volunteer_id":690000178,"role_id":8},{"volunteer_id":690000129,"role_id":3},{"volunteer_id":790095166,"role_id":13}]}'
  recorded_at: Fri, 15 Sep 2023 06:22:33 GMT
[...]
- request:
    method: get
    uri: https://parkzhrun.ru/wp-json/api/v1/athlete/790095166
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PARKZHRUN_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://parkzhrun.ru/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
    body:
      encoding: UTF-8
      string: '{"athlete":{"first_name":"\u0414\u043c\u0438\u0442\u0440\u0438\u0439","last_name":"\u0422\u0440\u043e\u0444\u0438\u043c\u043e\u0432","patronymic":"\u0411\u043e\u0440\u0438\u0441\u043e\u0432\u0438\u0447","date_of_birth":"1976-12-27","gender":"male","city":"\u0422\u0432\u0435\u0440\u044c","club":null,"parkrun_id":6745698,"parkzhrun_id":690000046,"five_verst_id":790095166,"s95_id":null,"krymrun_id":null,"runpark_id":null}}'
  recorded_at: Fri, 15 Sep 2023 06:22:35 GMT
recorded_with: VCR 6.2.0
