<%= link_to 'Муж.', gender_set_admin_activity_result_path(activity, result, male: true, format: :js), remote: true, method: :patch, data: { confirm: "Сделать #{result.athlete.name} мужчиной?" } %>
<span style="color: #ff411e;">-&starf;-</span>
<%= link_to 'Жен.', gender_set_admin_activity_result_path(activity, result, male: false, format: :js), remote: true, method: :patch, data: { confirm: "Сделать #{result.athlete.name} женщиной?" } %>
