.going-athletes {
  .athlete-link {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: var(--bs-primary);
    }
  }

  img {
    object-fit: cover;
    border: 1px solid var(--bs-border-color);
  }
}
