// Sass variable overrides must be declared before loading up Active Admin's styles.

// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.

// For example, to change the sidebar width:
// $sidebar-width: 242px;
@use "sass:color";

$primary-color: #2a2951 !default;
$secondary-color: #a0a0a0 !default;
$table-stripe-color: color.adjust($primary-color, $lightness: 70%) !default;
$link-color: #144469 !default;
$text-color: #0f0f0f !default;
$error-color: #d63384 !default;
$breadcrumbs-color: $link-color !default;
$table-error-color: color.adjust($error-color, $lightness: 25%);

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin/quill_editor/quill.snow";
@import "activeadmin/quill_editor_input";
@import "active_admin/searchable_select";


body {
  font-size: 82%;
}

.suggestions {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  opacity: 0.91;
  background-color: #eee;
  border-radius: 0 0 4px 4px;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden auto;
  box-shadow: 0 0 10px #818181;
}

.suggestions li {
  padding: 5px 10px;
}

.suggestions li:first-child {
  border-top: none !important;
}

.suggestions li:hover {
  background-color: #ddd;
}

.suggestions li.active {
  background-color: #54528b !important;
  color: #fff;
}

.autocomplete {
  position: relative;
  margin: 4px 10px;
}

.autocomplete .query-field {
  width: 100%;
}

.img-hint {
  max-width: 60px;
  max-height: 60px;
  object-fit: scale-down;
}

.img-badge {
  max-width: 100%;
  max-height: 200px;
  object-fit: scale-down;
}

.warning-box {
  background-color: #fff3cd;
  padding: 1em;
  border-radius: 4px;
}

tr.odd,
tr.even {
  &.athlete-error {
    td.col-athlete, td.col-name, td.col-role {
      background-color: $table-error-color;
    }
  }
  td.col-position,
  td.col-total_time {
    &.error {
      background-color: $table-error-color;
    }
  }
}

.ui-datepicker-calendar td:nth-child(6) {
  background: #ffb9f6;
}
