// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
$primary-color: #2a2951 !default;
$secondary-color: #a0a0a0 !default;
$table-stripe-color: lighten($primary-color, 70%) !default;
$link-color: #144469 !default;
$text-color: #0f0f0f !default;
$error-color: #e61ccc !default;
$breadcrumbs-color: $link-color !default;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
body {
  font-size: 82%;
}

.suggestions {
  position: absolute;
  cursor: pointer;
  z-index: 100;
  opacity: 0.91;
  background-color: #eee;
  border-radius: 0 0 4px 4px;
  top: 100%;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 10px #818181;
}

.suggestions li:first-child {
  border-top: none !important;
}

.suggestions li {
  padding: 5px 10px;
}

.suggestions li:hover {
  background-color: #ddd;
}

.suggestions li.active {
  background-color: #54528b !important;
  color: #fff;
}

.autocomplete {
  position: relative;
  margin: 4px 10px;
}

.autocomplete .query-field {
  width: 100%;
}

.img-badge {
  max-width: 100%;
  max-height: 200px;
  object-fit: scale-down;
}

tr.odd, tr.even {
  &.error {
      td.col-athlete, td.col-total_time, td.col-gender {
          background-color: #e61ccc5f;
      }
  }
}
