$primary: #2a2951;
$secondary: #a0a0a0;
$success: #198754;
$danger: #d63384;
$warning: #fecba1;
$info: #009dac;
$light: #f0f0f0;
$dark: #0f0f0f;
$enable-negative-margins: true;

@import "bootstrap";
@import "font-awesome";
@import "phone_screen";
@import "web/*";

body {
  min-height: 100vh;
}

.spacer {
  flex: 1 0 auto;
}

.bd-footer {
  background-color: var(--bs-primary-bg-subtle);

  .social-links {
    a {
      margin-right: 8px;
      text-decoration: none;
    }
    a:hover {
      opacity: 0.85;
    }
    a:last-child {
      margin-right: 0;
    }
    i {
      font-size: 2em;

      @include media(phoneScreen) {
        font-size: 1.6em;
      }
    }
  }

  @include media(phoneScreen) {
    .social-links {
      order: 2;
    }
    .footer-text {
      order: 3;
    }
  }
}

// Style Kaminari pagination helper
nav.pagination {
  a {
    @extend .stretched-link;

    text-decoration: none;
  }
  span {
    @extend .position-relative;

    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: var(--bs-border-color);
    padding: 4px 8px;
  }
  span:hover {
    background-color: var(--bs-tertiary-bg);
  }
  .current {
    background-color: var(--bs-tertiary-bg);
  }
  span:first-child {
    border-radius: 5px 0 0 5px;
  }
  span:last-child {
    border-radius: 0 5px 5px 0;
    border-width: 1px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  margin-top: 0.5rem;

  [data-bs-theme="dark"] & {
    color: var(--bs-secondary-color);
  }
}

.table.table-centered {
  th,
  tr {
    @extend .text-center;
  }
}

.sort-arrow {
  cursor: pointer;
  color: var(--bs-secondary-color);
  i.fa:hover {
    color: var(--bs-primary);
  }
}

.fa-stack.contact {
  font-size: 30px;

  @include media(phoneScreen) {
    font-size: 25px;
  }

  &:hover {
    opacity: 0.85;
  }
}

.img-club {
  @extend .rounded;

  width: 150px;
  max-height: 150px;
  object-fit: contain;

  @include media(phoneScreen) {
    width: 100px;
  }
}

.club-description p {
  margin-bottom: 0;
}

.card-with-border {
  @extend .card, .border-primary, .border-opacity-25, .h-100;

  background-color: var(--bs-tertiary-bg);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 7.5%);
  transition: box-shadow 0.3s ease-in-out;

  .img-scaled {
    transition: transform 0.3s ease;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);

    .img-scaled {
      transform: scale(1.03);
    }
  }

  .card-body a:not(.stretched-link) {
    position: relative;
    z-index: 2;
  }
}

.fs-small {
  font-size: 0.85em;

  &-sm {
    font-size: var(--bs-body-font-size);

    @include media(phoneScreen) {
      font-size: 0.85em;
    }
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0.3;
  }
}

.theme-toggle {
  .theme-icon-dark {
    display: none;
  }

  .theme-icon-light {
    display: inline-block;
  }
}

[data-bs-theme="dark"] .theme-toggle {
  .theme-icon-dark {
    display: inline-block;
  }

  .theme-icon-light {
    display: none;
  }
}
