<p>Здравствуйте!</p>

<p>Вы можете подвердить ваш email (<%= @email %>) перейдя по следующей ссылке:</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  Вы получили это письмо, так как ваш адрес был введён при регистрации на сайте <%= link_to 'Sat 9am 5km', root_url %>.
  Если это были не вы, просто проигнорируйте данное сообщение.
</p>

<p>
  С уважением,<br>
  команда Sat9am5km
</p>
