<p>Zdravo!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Vaš email je promenjen u <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Vaš email je promenjen u <%= @resource.email %>.</p>
<% end %>

<p>
  S poštovanjem,
  tim S95
</p>
