<p>Здравствуйте!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ваш email был изменён на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ваш email был изменён на <%= @resource.email %>.</p>
<% end %>

<p>
  С уважением,<br>
  команда S95
</p>
