<p>Здравствуйте <%= @resource.email %>!</p>

<p>
  Кто-то запросил ссылку для смены пароля на сайте <%= link_to ENV.fetch('APP_HOST'), root_url %>. Для этого перейдите по следующей ссылке:<br>
  <%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>Если это были не вы, просто прогнорируйте данное сообщение.</p>
<p>Ваш пароль не будет изменён до тех пор, пока вы не перейдёте по указанной ссылке и не смените пароль на новый.</p>

<p>
  С уважением,<br>
  команда S95
</p>
