<p>Zdravo <%= @resource.email %>!</p>

<p>
  Zatražili ste link za promenu lozinke na web stranici <%= link_to 'S95', root_url(host: 's95.rs') %>.
  Da biste to uradili, idite na sledeći link:
  <br>
  <%= link_to 'promenite lozinku', edit_password_url(@resource, reset_password_token: @token, host: 's95.rs') %>
</p>

<p>Ako to niste bili vi, samo zanemarite datu poruku.</p>
<p>Vaša lozinka se neće promeniti dok ne odete na navedeni link i promenite lozinku u novu.</p>

<p>
  S poštovanjem,
  tim S95
</p>
