<p>Здравствуйте <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля. Для этого перейдите по следующей ссылке.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, просто прогнорируйте данное сообщение.</p>
<p>Ваш пароль не будет изменён до тех пор пока вы не перейдёте по указанной ссылке и не смените пароль на новый.</p>
