<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за превышения количества неудачных попыток входа.</p>

<p>
  Нажмите на следующую ссылку, чтобы разблокировать его:<br>
  <%= link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token) %>
</p>

<p>
  С уважением,<br>
  команда S95
</p>
