<table class="table table-striped">
  <thead>
    <tr>
      <th><div class="d-block d-sm-none">Поз.</div><div class="d-none d-sm-block">Место</div></th>
      <th>Участник</th>
      <th class="text-end">Время</th>
      <th class="text-end">Темп</th>
      <th class="hidden-on-phone">Клуб</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render partial: 'result', collection: results %>
  </tbody>
</table>
