<h1>Недавние забеги</h1>

<table id="activities" class="table table-striped">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Мероприятие</th>
      <th>Число участников</th>
      <th class="hidden-on-phone">Лидер по мужчинам</th>
      <th class="hidden-on-phone">Лидер по женщинам</th>
    </tr>
  </thead>
  <tbody>
    <%= render @activities %>
  </tbody>
</table>
