<% head_info :title, 'ะะตะดะฐะฒะฝะธะต ะทะฐะฑะตะณะธ' %>

<h2>ะะตะดะฐะฒะฝะธะต ะทะฐะฑะตะณะธ</h2>

<table id="activities" class="table table-striped">
  <thead>
    <tr>
      <th>๐๏ธ&nbsp;ะะฐัะฐ</th>
      <th>๐ณ&nbsp;ะะตัะพะฟัะธััะธะต</th>
      <th class="text-center">๐&nbsp;ะฃัะฐััะฝะธะบะธ</th>
      <th class="hidden-on-phone">๐&nbsp;ะะตัะฒัะน</th>
      <th class="hidden-on-phone">๐โโ๏ธ&nbsp;ะะตัะฒะฐั</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render @activities %>
  </tbody>
</table>
