<% head_info :title, t('navbars.top.recent_results') %>
<h2><%= t 'navbars.top.recent_results' %></h2>

<div class="table-responsive">
  <table id="activities" class="table table-striped">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Мероприятие</th>
        <th class="text-center">Участники</th>
        <th class="text-center">Волонтёры</th>
        <th>Первый</th>
        <th>Первая</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <%= render @activities, cached: true %>
    </tbody>
  </table>
</div>
