<h1>Недавние забеги</h1>

<table id="activities" class="table table-striped">
  <thead>
    <tr>
      <th>🗓️&nbsp;Дата</th>
      <th>🌳&nbsp;Мероприятие</th>
      <th class="text-center">👟&nbsp;Участники</th>
      <th class="hidden-on-phone">🏃&nbsp;Первый</th>
      <th class="hidden-on-phone">🏃‍♀️&nbsp;Первая</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <%= render @activities %>
  </tbody>
</table>
