<span class="fa-stack contact">
  <i class="fa-solid fa-square fa-stack-2x" style="background: radial-gradient(circle at top left, rgba(30, 110, 220, 0.5) 0%, rgba(30, 110, 220, 0) 36%), linear-gradient(to right, rgba(42, 132, 214, 0.9) 0%, rgba(42, 132, 214, 0.9) 32%, rgba(255, 0, 255, 0.9) 100%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; color: transparent; display: inline-block;"></i>
  <i class="fa-brands fa-discourse fa-stack-1x fa-inverse"></i>
</span>
