<span class="fa-stack contact">
  <i class="fa-solid fa-square fa-stack-2x" style="background: linear-gradient(135deg, #0099ff 0%, #00bfff 50%, #0077cc 100%); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent; color: transparent; display: inline-block;"></i>
  <i class="fa-brands fa-discourse fa-stack-1x fa-inverse"></i>
</span>
