<%= turbo_frame_tag 'best_position_absolute' do %>
  <ul class="list-group list-group-flush">
    <% @pb_by_position.each do |pb| %>
      <li class="list-group-item">
        <div class="hstack">
          <div class="acc-li-s">
            <%= link_to l(pb.date), pb.activity, data: { turbo: false } %>
          </div>
          <div class="mx-3">
            <%= pb.time_string %>
          </div>
          <div>
            <%= link_to pb.activity.event_name, event_path(pb.activity.event.code_name), data: { turbo: false } %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
