<%= turbo_frame_tag 'friends_list' do %>
  <div class="list-group list-group-flush" id="friends">
    <%=
      render(
        partial: 'friendships/friend',
        collection: @athlete.friends.includes(:going_to_event, user: { image_attachment: :blob }).order(:name),
        locals: { is_friends_tab: true },
      )
    %>
  </div>
<% end %>
