<%= turbo_frame_tag 'total_results' do %>
  <div class="d-flex flex-wrap justify-content-around">
    <div class="col-12 col-md-10 col-xl-8" data-athlete-target="results" data-controller="athlete"></div>
  </div>
<% end %>
