<%= turbo_frame_tag 'total_trophies' do %>
  <div class="d-flex justify-content-start flex-wrap">
    <% if @total_results.positive? && @seconds_in_results.size < 60 %>
      <%= render 'athletes/minute_bingo', seconds_in_results_count: @seconds_in_results.size %>
    <% end %>
    <% @athlete.trophies.includes(badge: { image_attachment: :blob }).order('date ASC NULLS FIRST').each do |trophy| %>
      <div class="p-1">
        <%
          trophy_link = link_to badge_path(trophy.badge), data: { turbo: false } do
            image_tag trophy.badge.image.variant(:thumb), class: 'trophy', title: trophy.badge.name, alt: trophy.badge.name
          end
        %>
        <% if trophy.badge.record_kind? %>
          <% trophy.data.each do |record_data| %>
            <%= trophy_link %>
          <% end %>
        <% else %>
          <%= trophy_link %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
