<div class="d-flex justify-content-center">
  <button
    class="btn btn-outline-primary"
    type="button"
    data-controller="button"
    data-action="click->button#setName"
    data-button-show-value="<%= t 'button.show_more' %>"
    data-button-hide-value="<%= t 'button.show_less' %>"
    data-bs-toggle="collapse"
    data-bs-target=".multi-collapse"
    aria-expanded="false">
  </button>
</div>
