<% if alert %>
  <div class="bg-danger p-3 mb-3 mt-n3 text-white position-relative d-flex align-items-center justify-content-center" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;<%= alert %>
  </div>
<% elsif notice %>
  <div class="bg-success p-3 mb-3 mt-n3 text-white position-relative d-flex align-items-center justify-content-center" role="alert">
    <i class="fa-solid fa-circle-exclamation"></i>&nbsp;<%= notice %>
  </div>
<% end %>
