<% if alert %>
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;<%= alert %>
  </div>
<% elsif notice %>
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="fa-solid fa-circle-exclamation"></i>&nbsp;<%= notice %>
  </div>
<% end %>
